name: Python CD

on:
  release:
    types: [created]

jobs:
  deploy:
    name: Publish package
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Install uv
      uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0
      with:
        python-version: "3.13"
    - name: Build the project
      run: uv build
    - name: Show result
      run: ls -l dist
    - name: Publish
      run: uv publish --token ${{ secrets.UV_PUBLISH_TOKEN }}
